* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: darkgray;
}

.flex-style-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 600;
  font-size: 6rem;
}

#num-page {
  font-size: 1.5rem;
}

#tech-pic{
  width: 10rem;
}

.no-display {
  display: none;
}

img {
  width: 1.5rem;
}

@media only screen and (max-width: 576px) {
  body{
    height: 100vh;
}
section{
    height: 100%;
}
  h1 {
    font-size: 2rem;
  }
  #tech-pic{
    width: 3rem;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 577px){
  body{
    height: 100vh;
}
section{
    height: 100%;
}
  h1 {
    font-size: 3.5rem;
  }
  #tech-pic{
    width: 4rem;
  }
}